In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
#import initial data
rawDF = pd.read_csv("owid-energy-data.csv")
descDF = pd.read_csv("owid-energy-codebook.csv")

In [13]:
rawDF['country'].unique()

array(['ASEAN (Ember)', 'Afghanistan', 'Africa', 'Africa (EI)',
       'Africa (EIA)', 'Africa (Ember)', 'Africa (Shift)', 'Albania',
       'Algeria', 'American Samoa', 'Angola', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Asia & Oceania (EIA)', 'Asia (Ember)', 'Asia Pacific (EI)',
       'Asia and Oceania (Shift)', 'Australia',
       'Australia and New Zealand (EIA)', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS (EI)', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central & South America (EIA)',
       'Central African Republic', 'Central America (EI)',
       'Central and South America (Shift)', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'EU28 (Shift)',
       'East Germany', 'East Timor', 'Eastern Africa (EI)', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Eurasia (EIA)', 'Eurasia (Shift)',
       'Europe', 'Europe (EI)', 'Europe (EIA)', 'Europe (Ember)',
       'Europe (Shift)', 'European Union (27)', 'Falkland Islands',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'G20 (Ember)', 'G7 (Ember)', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean (Ember)', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle Africa (EI)', 'Middle East (EI)',
       'Middle East (EIA)', 'Middle East (Ember)', 'Middle East (Shift)',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Non-OECD (EI)', 'Non-OECD (EIA)', 'Non-OPEC (EI)',
       'Non-OPEC (EIA)', 'North America', 'North America (EI)',
       'North America (Ember)', 'North America (Shift)', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'OECD (EI)', 'OECD (EIA)', 'OECD (Ember)', 'OECD (Shift)',
       'OPEC (EI)', 'OPEC (EIA)', 'OPEC (Shift)', 'Oceania',
       'Oceania (Ember)', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Persian Gulf (EIA)',
       'Persian Gulf (Shift)', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Korea', 'South Sudan',
       'South and Central America (EI)', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands (EIA)',
       'U.S. Territories (EIA)', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Pacific Islands (Shift)',
       'United States Territories (Shift)',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island (EIA)', 'Wake Island (Shift)', 'West Germany',
       'Western Africa (EI)', 'Western Sahara', 'World', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
filteredDF = rawDF[rawDF["country"] == "World"]
filteredDF = filteredDF[["country", "year", "electricity_demand"]]
filteredDF

      country  year  electricity_demand
21304   World  1900                 NaN
21305   World  1901                 NaN
21306   World  1902                 NaN
21307   World  1903                 NaN
21308   World  1904                 NaN
...       ...   ...                 ...
21423   World  2019           26771.230
21424   World  2020           26654.820
21425   World  2021           28169.881
21426   World  2022           28843.500
21427   World  2023           29479.051

[124 rows x 3 columns]

In [5]:
rawDF.describe()

,year,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
count,21812.000000,1.844700e+04,1.177500e+04,1806.000000,2796.000000,2400.000000,2876.000000,5570.000000,5834.000000,5811.000000,...,7183.000000,4127.000000,2508.000000,4740.000000,4845.000000,7278.000000,8234.000000,4153.000000,7197.000000,4193.000000
mean,1974.195718,1.054051e+08,4.260596e+11,45.489759,2.867027,136.600523,39.082519,66.750870,11.262839,1.865575,...,0.772870,0.258574,306.388427,7.886606,60.060250,67.711201,18.936078,254.848409,1.491997,0.717834
std,35.342860,4.665375e+08,3.508591e+12,266.131064,10.692769,261.757657,116.307666,197.542142,49.585627,5.372183,...,2.495118,0.773014,6297.500646,39.805408,306.013269,267.759489,110.680131,791.447343,4.688010,2.018520
min,1900.000000,1.833000e+03,1.642060e+08,-100.000000,-49.355000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-100.000000,-50.829000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1946.000000,1.714291e+06,1.438637e+10,-0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.921750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1984.000000,6.998022e+06,4.393385e+10,8.189000,0.000000,14.642500,0.694500,0.491000,0.010000,0.096000,...,0.000000,0.000000,19.564500,0.000000,0.008000,0.000000,0.000000,0.084000,0.000000,0.004000
75%,2004.000000,2.571993e+07,1.830838e+11,26.550000,0.832000,175.006500,12.811500,38.162750,0.720000,1.526500,...,0.138500,0.026000,46.448500,0.359250,2.782000,3.080750,0.150000,56.324000,0.419000,0.320000
max,2023.000000,8.045311e+09,1.301126e+14,5659.328000,144.146000,2588.512000,1317.625000,2453.043000,678.740000,77.586000,...,50.000000,9.368000,242384.844000,677.824000,6040.359000,3283.758000,2304.440000,8523.436000,57.716000,25.767000